.shop-wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 6em;
    .shop-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 300px;
        background-color: $white-color;
        box-shadow: $b-shadow;
        margin: 1.8rem;
        .product-img{
            width: 250px;
            height: 300px;
            margin: 0px;
            padding: 0px;
            overflow: hidden;
            img{
                height: 300px;
                width: 250px;
                object-position: center;
                object-fit: cover;
                margin: 0px;
                padding: 0px;
            }
        }
        .product-info{
            padding: 0.8em;
            width: 250px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            .product-text{
                h2{
                    margin: 0px;
                    font-weight: 400;
                    font-size: $pfs;
                    text-transform: uppercase;
                }
                h3{
                    margin: 0px;
                    font-weight: 200;
                    font-size: $pfs3;
                    text-transform: uppercase;
                }
                p{
                    font-size: $pfs3;
                    margin: 0px;
                    padding-top: 0.8em;
                    padding-bottom: 0.8em;
                }
            }
            .product-price-btn{
                padding: 0.8em;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                bottom: 0px;
                p{
                    display: block;
                    font-size: $h2-f;
                    font-weight: 400;
                    margin: 0px;
                    line-height: 40px;
                }
                button{
                    display: block;
                    width: 130px;
                    height: 40px;
                    border-radius: 20px;
                    border-style: none;
                    outline-style: none;
                    background-color: $main-color;
                    color: $white-color;
                    font-weight: 600;
                    font-size: $pfs2;
                    cursor: pointer;
                }
                button:active{
                    background-color: $dark-c;
                    box-shadow: $b-shadow;
                }
            }
        }
    }

}