$main-color: #407BFF;
$dark-c: #3061c9;
$main-color-lignt: #fafafa;
$font-color: #414141;
$white-color: #ffffff;
$paper-color: #e3ecff;
$h1-f: 3rem;
$h2-f: 1.8rem;
$h3-f: 1.2rem;
$pfs: 1.6rem;
$pfs2: 1.2rem;
$pfs3: 1rem;
$pfs4: 0.8rem;
$b-shadow: 0px 2px 4px 0px rgba(49, 49, 49, 0.15);

h1{
    font-size: $h1-f;
}

h2{
    font-size: $h2-f;
}

h3{
    font-size: $h3-f;
}

p{
    font-size: $pfs2;
}
a{
    font-size: $pfs2;
}